flask
flask_cors
flask_sslify
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-WTF
Flask-Login
flask-marshmallow
flask-bcrypt
Flask-Mail
WTForms
SQLAlchemy
marshmallow
marshmallow-sqlalchemy
mysql-connector-python
PyMySQL
urllib3
requests
webargs
email_validator
gunicorn

